.custom-container {
    background-image: url('https://imgs.search.brave.com/ivOKp8nWo5Gd74DjQdGPmi33_Ri58_Vq2w4MFVttE1s/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuYWxsLWZyZWUt/ZG93bmxvYWQuY29t/L2ltYWdlcy9ncmFw/aGljbGFyZ2UvYmFj/a2dyb3VuZF8xOTU2/NjcuanBn'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    background-image: linear-gradient(to bottom right, #ffcc00, #ff6600);

    transition: all 0.3s ease; /* Add transition for smooth effect */
}

.custom-form:hover {
    background-color: rgba(255, 255, 255, 1); /* Adjust background color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Adjust box shadow on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
}

.custom-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-form .form-control {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-color: #fff; /* Adding background color to form controls */
}

.custom-form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
    outline: none;
}

.custom-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.custom-btn:hover {
    background-color: #0056b3;
}

.custom-btn:disabled {
    background-color: #ccc;
    opacity: 0.8;
    cursor: not-allowed;
}
