/* Add this in your style file (e.g., styles.css) */
.body{
  background-image: url('https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.example-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, #a7c5eb, #5e95db);
}

.example-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.example-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.example-form input:focus {
  border-color: #007bff;
}

.example-form button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.example-form button:hover {
  background-color: #0056b3;
}

/* Optional: Adjust spacing and margins as needed */
.example-form br {
  clear: both;
}
